/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/storage/framework/cache/data/03/bc/03bc23b61d4cf128f2bd79541d52e1b98f18c79d
/storage/framework/cache/data/37/d0/37d0a0437440b46a8594240ab75f0e7bba582bed
/storage/framework/cache/data/59/4a/594a42d0af7b22cb2ba8aaaa9fd4f10ddd9bff9d
/storage/framework/cache/data/85/5f/855f92484c8c414d36c1b25cb24876e30229cbbf
/storage/framework/cache/data/c3/35/c335c6faad3d27ad02c015122f6ba3fde5f66e7c
/storage/framework/cache/
/storage/framework/sessions/
